<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
		<servlet-name>userJoinservlet</servlet-name>
		<servlet-class>user.UserJoinServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>userJoinservlet</servlet-name>
		<url-pattern>/userJoinAction</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>userLoginservlet</servlet-name>
		<servlet-class>user.UserLoginServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>userLoginservlet</servlet-name>
		<url-pattern>/userLoginAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userLogoutservlet</servlet-name>
		<servlet-class>user.UserLogoutServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>userLogoutservlet</servlet-name>
		<url-pattern>/userLogoutAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookListservlet</servlet-name>
		<servlet-class>BookInfo.BookListServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>bookListservlet</servlet-name>
		<url-pattern>/bookList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>popluarBooksServlet</servlet-name>
		<servlet-class>BookInfo.PopularBooksServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>popluarBooksServlet</servlet-name>
		<url-pattern>/popularBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rentAbleBookServlet</servlet-name>
		<servlet-class>BookInfo.RentAbleBookServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>rentAbleBookServlet</servlet-name>
		<url-pattern>/rentAble</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rentedBookServlet</servlet-name>
		<servlet-class>BookInfo.RentedBookServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>rentedBookServlet</servlet-name>
		<url-pattern>/rentedBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>donateBookServlet</servlet-name>
		<servlet-class>BookInfo.DonateBookServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>donateBookServlet</servlet-name>
		<url-pattern>/donateBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rentBookServlet</servlet-name>
		<servlet-class>BookInfo.RentBookServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>rentBookServlet</servlet-name>
		<url-pattern>/rentBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>returnBookServlet</servlet-name>
		<servlet-class>BookInfo.ReturnBookServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>returnBookServlet</servlet-name>
		<url-pattern>/returnBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>evaluationServlet</servlet-name>
		<servlet-class>evaluation.EvaluationServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>evaluationServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteEvaluationServlet</servlet-name>
		<servlet-class>evaluation.DeleteEvaluationServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>deleteEvaluationServlet</servlet-name>
		<url-pattern>/deleteAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchActionSerlvet</servlet-name>
		<servlet-class>evaluation.SearchActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchActionSerlvet</servlet-name>
		<url-pattern>/searchAction</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>modifyEvaluationServlet</servlet-name>
		<servlet-class>evaluation.ModifyEvaluationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyEvaluationServlet</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/Empty.jsp</location>
	</error-page>
</web-app>